body {
    --blue: #12141C;
    --grey: #a5a5a5;
    font-family: "Nunito", sans-serif;
    background: var(--blue);
    color: white;
    padding: 1% 0;
}

.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-container {
    width: 80%;
}

h1 {
    font-family: 'Antic Didone', serif;
    font-weight: 300;
    font-size: 92px;
}

h2 {
    font-family: 'Antic Didone', serif;
    font-weight: 300;
    font-size: 36px;
}

h3 {
    font-family: 'Antic Didone', serif;
    font-weight: 200;
    font-size: 30px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.separator {
    border-bottom: 1px solid var(--grey);
    width: 100%;
}

.lift-up {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lift-up a {
    margin-top: 20px;
}

@media screen and (max-width: 1024px) {
    .app-container {
        width: 95%;
    }

    h1 {
        font-size: 7em;
    }

    h2 {
        font-size: 55px;
    }

    h3 {
        font-size: 45px;
    }

    p{
        font-size: 36px;
    }
}

@media screen and (max-width: 768px) {
    .app-container {
        width: 96%;
    }
    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 5vw;
    }

    p{
        font-size: 4vw;
    }
}
