.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  min-width: 40%;
}

/* presentation title */

.presentation-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 125px 0;
}

.presentation-title p {
  font-weight: 600;
  color: var(--grey);
  width: 200px;
}

.presentation-title h1 {
  max-width: 70%;
}

/* Presentation section */

.presentation-section {
  display: flex;
  justify-content: space-between;
}

.presentation-section h2 {
  width: 200px;
  height: fit-content;
}

.presentation-section-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.presentation-section-container p {
  height: fit-content;
}

.presentation-section-list {
  width: 45%;
}

.presentation-section-list p {
  max-width: 100%;
}

.presentation-section-list ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  list-style-type: none;
  margin-top: 40px;
  font-family: "Antic Didone", serif;
}

.presentation-section-list ul li {
  display: flex;
  font-size: 28px;
}

.presentation-section-list ul span {
  font-size: 14px;
  margin-right: 5px;
}

.presentation-aside-text {
  width: 45%;
  color: var(--grey);
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .presentation {
    width: 100%;
  }

  .presentation-title {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 20% 0;
  }

  .presentation-title h1 {
    max-width: 100%;
  }

  .presentation-title p {
    margin-top: 8%;
    width: 70%;
  }

  .presentation-section-container {
    flex-direction: column;
  }

  .presentation-section {
    flex-direction: column;
  }

  .presentation-section h2,
  .presentation-section-container,
  .presentation-section-list,
  .presentation-aside-text {
    width: 100%;
  }

  .presentation-section h2 {
    margin-bottom: 7%;
  }

  .presentation-section-list ul {
    height: 50vh;
    margin: 10% 0;
  }

  .presentation-section-list ul li {
    font-size: 60px;
  }

  .presentation-section-list ul li span {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .presentation-section-list ul li {
    font-size: 6vw;
  }

  .presentation-section-list ul li span {
    font-size: 3vw;
  }

  .presentation-section-list ul {
    height: 350px;
  }
}
