.project-card {
    width: 40%;
    height: 40vh;
    position: relative;
    margin-left: 8%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    background-color: black;
    filter: grayscale(0);

}

.project-card h3 {
    position: absolute;
    top: 50px;
    left: -50px;
    width: 60px;
}

@media screen and (max-width: 1024px) {
    .project-card {
        width: 80%;
    }
}
