.techno {
    display: flex;
    justify-content: space-between;
    width: 62%;
}

.techno-list {
    display: flex;
    flex-direction: column;
  justify-content: space-between;
}

.techno-list-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 350px;

}

.techno-list p {
    width: 80%;

}

.techno-list ul {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    list-style-type: none;
    height: 100%;
    margin-top: 40px;
}

.techno-list ul li {
    display: flex;
    font-family: 'Antic Didone', serif;
    font-size: 28px;
}

.techno-list ul span {
    font-size: 14px;
    margin-right: 5px;

}

@media screen and (max-width: 1024px) {
    .techno {
        flex-direction: column;
        width: 100%;
        margin-bottom: 60%;
    }

    .techno h2 {
        margin-bottom: 7%;
    }

    .techno-list p {
        font-size: 36px;
    }

    .techno-list-container ul {
        height: 50vh;
        margin: 10% 0;
    }

    .techno-list-container ul li {
        font-size: 60px;
    }

    .techno-list-container ul li span {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .techno {
        margin-bottom: 10%;
    }
    .techno-list p {
        font-size: 4vw;
    }


    
    .techno-list-container ul li {
        font-size: 6vw;
    }

    .techno-list-container ul li span {
        font-size: 3vw;
    }
}